:root {
  --background: #ffffff;
  --foreground: #171717;

  --background-circle-color-1: 53, 0, 173;
  --background-circle-color-2: 185, 120, 255;
  --background-circle-color-3: 78, 0, 255;
  --background-circle-color-4: 41, 3, 126;
  --background-circle-color-5: 0, 0, 140;
  --cursor-circle-color: 78, 0, 255;
  --background-circle-size: 80%;
  --blending: hard-light;

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, 
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(
    to left top,
    #0e002c,
    #0d0029,
    #0c0025,
    #0a0022,
    #08001e,
    #07001b,
    #060018,
    #050015,
    #040012,
    #04000e,
    #03010a,
    #020105
  );
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 60px;
  border-radius: 8px;

  font-size: 18px;
  font-weight: 700;
  text-transform: lowercase;
}

.btn-primary {
  position: relative;
  background: #3500AD;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.btn-primary::after {
  content: '';
  position: absolute;
  top: 0;
  left: -130%;
  width: 120%;
  height: 100%;
  background: #280085;
  transform: skew(25deg);
  transition: all 0.5s ease;
  z-index: -1;
}

.btn-primary:hover::after {
  left: -10%;
}

.btn-secondary {
  position: relative;
  background: transparent;
  border: 2px solid white;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.btn-secondary::after {
  content: '';
  position: absolute;
  top: 0; 
  left: -130%;
  width: 120%;
  height: 100%;
  background: white;
  transform: skew(25deg);
  transition: all 0.5s ease;
  z-index: -1;
}

.btn-secondary:hover {
  color: black;
}

.btn-secondary:hover::after {
  left: -10%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}