.gradient {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
  
    .gradients {
      filter: url(#gradientFilter) blur(40px) ;
      width: 100%;
      height: 100%;
      position: relative;
    }
  
    .g1 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--background-circle-color-1), 0.8) 0, rgba(var(--background-circle-color-1), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--background-circle-size);
      height: var(--background-circle-size);
  
      opacity: 1;
    }
  
    .g2 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--background-circle-color-2), 0.8) 0, rgba(var(--background-circle-color-2), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--background-circle-size);
      height: var(--background-circle-size);
  
      opacity: 1;
    }
  
    .g3 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--background-circle-color-3), 0.8) 0, rgba(var(--background-circle-color-3), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--background-circle-size);
      height: var(--background-circle-size);
  
      opacity: 1;
    }
  
    .g4 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--background-circle-color-4), 0.8) 0, rgba(var(--background-circle-color-4), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--background-circle-size);
      height: var(--background-circle-size);
  
      opacity: 1;
    }
  
    .g5 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--background-circle-color-5), 0.8) 0, rgba(var(--background-circle-color-5), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: calc(var(--background-circle-size) * 2);
      height: calc(var(--background-circle-size) * 2);
  
      opacity: 1;
    }
  
    .interactive {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--cursor-circle-color), 0.8) 0, rgba(var(--cursor-circle-color), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: 100%;
      height: 100%;
      top: -50%;
      left: -50%;
  
      opacity: .7;
    }
}

.gradient svg {
    display: none;
}