.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 100px 0 100px;
    position: absolute;
    z-index: 999;
    width: 100%;
    mix-blend-mode: difference;
}

.headerContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 95px;
}

.logo {
    cursor: pointer;
}

.headerLogo {
    display: flex;
    gap: 8px;
    overflow: hidden;
    position: relative;
}

.logoText {
    font-weight: 900;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.headerLang {
    font-size: 18px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.headerTheme {
    border-radius: 500px;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .header {
        padding: 40px 60px 0 60px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 32px 40px 0 40px;
    }
    .logo {
        width: 42px;
    }
    .headerTheme {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 16px 32px 0 32px;
    }
    .headerContainer {
        gap: 8px;
    }
    .logoText {
        font-size: 16px;
    }
    .logo {
        width: 36px;
    }
    .headerTheme {
        width: 20px;
        height: 20px;
        margin-right: 0px;
    }
    .headerLang {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 8px 24px 0 24px;
    }
    .logoText {
        display: none;
    }
}
