.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75%;


    .contact__content {
        display: flex;
        flex-direction: column;
        
        width: 80%;
        height: 100%;

        .contact__split {
            width: 100%;
            height: 100%;

            .contact__left {
                display: flex;
                justify-content: center;
                align-items: center;
                
                width: 50%;
                height: 100%; 

                .contact__form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 90%;
                    padding: 0 10%;

                    border-radius: 25px;
        
                    border: solid 1px rgba(255, 255, 255, 0.4);
            
                    background: rgba(255, 255, 255, 0.1);
            
                    backdrop-filter: blur(15px);

                    .contact__input {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        height: 80%;
                        .input__name-email {
                            display: flex;
                            .input { 
                                width: 50%;

                                &:first-child { margin-right: 50px}
                            }
                        }

                        .input__button { font-size: 14px }

                        .input__answer {
                            display: flex;
                            align-items: center;
                            span { width: 25% }
                            .input { width: 40% }
                        }
                    }
                }
                
            }

            .contact__right {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 50%;
                height: 100%;
            }
        }

        

    }
}