.section__container {

    .background---blur {
        position: fixed;

        z-index: -2;
        width: 100vw;
        height: 100vh;

        background: url(../../assets/Background-Blurred.png) no-repeat center center fixed;

        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .background---clear {
        position: fixed;
        z-index: -2;
        width: 100vw;
        height: 100vh;

        opacity: 0;
        background: url(../../assets/Background.png) no-repeat center center fixed;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}