.works__container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    .works__content {
        display: flex;
        flex-direction: column;

        width: 85%;
        height: 75%;

        .works__slider {
            display: flex;
            flex-direction: row;
            justify-content: center;

            width: 100%;
            height: 100%;

            .slider__buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                width: 10%;
                height: 100%;

                margin-right: 5%;

                position: relative;

                .focused { 
                    .button---icons { 
                        transform: scale(1.5); 

                        path { color: $color-blue }
                     } 
                }

                .slider__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 75px;
                    height: 75px;

                    margin-top: 20px;
                    border-radius: 25px;
                    border: solid 1px rgba(255, 255, 255, 0.4);
            
                    background: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(15px);

                    &:hover {
                        cursor: pointer;

                        span {
                            visibility: visible;
                            opacity: 1;        
                        }
                    }

                    .button---icons { transition: all .4s ease }

                    span {
                        position: absolute;
                        left: calc(100% + 7px);
    
                        visibility: hidden;
                        opacity: 0;
                        cursor: default;

                        transition: all .5s ease;

                        font-size: 12px;
                        padding: 10px;
                        
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.1);
                    }
                }              
            }

            .slider {
                display: flex; 
                width: 80%;
                height: 100%;

                .slider__inner {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    overflow-x: hidden;
                    transition: all .5s ease;

                    .slider__box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        min-width: 300px;
                        height: 80%;                        

                        position: relative;

                        overflow: hidden;
                        border-radius: 25px;
                        border: solid 1px rgba(255, 255, 255, 0.4);
                
                        background: rgba(255, 255, 255, 0.1);
                        backdrop-filter: blur(15px);

                        margin-left: 20px;
                        user-select: none;

                        animation: appear 1s ease;

                        @keyframes appear {
                            from {
                                visibility: hidden;
                                opacity: 0; 
                                transform: translate3d(200px, 0, 0);
                            }
                            to { 
                                visibility: visible;
                                opacity: 1;
                                transform: translate3d(0, 0, 0)
                            }
                        }

                        &:nth-child(1) { margin-left: 0 }

                        .box__content {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;

                            .slider__title { 
                                font-size: 22px;
                                margin-bottom: 50px;
                                transition: all .5s ease;
                            }

                            .slider__image { 
                                width: 150px;
                                height: 150px;
                               
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img { 
                                    width: 185px;
                                    transition: all .5s ease;
                                    border-radius: 20px;
                                    pointer-events: none;
                                }    
                            }
                        }
    
                        .slider__infos {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            position: absolute;
                            bottom: 0;

                            width: 100%;
                            height: 100px;

                            border-bottom-left-radius: 25px;
                            border-bottom-right-radius: 25px;

                            background:rgba(0, 0, 0, 0.5);

                            transition: all .5s ease;
                            transform: translate3d(0, 200px, 0);

                            .infos__content {  
                                display: flex;
                                justify-content: space-between;

                                .info__item {
                                    margin-left: 20px;
                                    
                                    &:first-child { margin: 0 }

                                    &:hover {
                                        img { transform: scale(1.3) }
                                    }

                                    img {
                                        pointer-events: none;
                                        transition: all .5s ease;
                                        width: 35px;
                                    }
                                }
                            }
                        }

                        &:hover {
                            .slider__infos { transform: translate3d(0, 0, 0) }
                        }
                    }
                }

                .slider__arrows {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    align-self: center;

                    width: 100px;
                    height: 100px;

                  
                    margin-left: 50px;
                    
                    .arrow__left, .arrow__right {
                        cursor: pointer;
                        width: 35px;

                        border: solid 1px rgba(255, 255, 255, 0.4);
            
                        background: rgba(255, 255, 255, 0.1);
                        backdrop-filter: blur(15px);
                        border-radius: 10px;
                        padding: 10px;

                        transition: all .5s ease;
                        
                        &:active {
                            transform: scale(0.9);
                        }

                        img { 
                            width: 100%;
                            user-select: none;
                        }
                    }

                    .arrow__left { margin-right: 10px }
                }
            }            
        }
    }

    @media (max-width: 800px) {
        .works__content {
            .works__slider {
                flex-direction: column;

                .slider__buttons {
                    width: 100%;
                    height: fit-content;
                    flex-direction: row;
                    margin-right: 0;
                    margin-bottom: 20px;
                    
                    .slider__button {
                        width: 55px;
                        height: 55px;
                        
                        border-radius: 15px;

                        font-size: 14px;

                        margin-top: 0;
                        margin-right: 10px;

                        .button__desc {
                            left: unset;
                            top: calc(100% + 7px);
                        }
                    }
                }


                .slider {
                    width: 100%;
                    flex-direction: column;

                    .slider__inner {
                        .slider__box {
                            min-width: 225px;
                            min-height: 300px;

                            .box__content {
                                .slider__title { font-size: 16px }

                                .slider__image {
                                    img { width: 100px }
                                }
                            }                            
                        }
                    }

                    .slider__infos {
                        height: 70px;

                        .infos__content {
                            .info__item {
                                img { width: 30px }
                            }
            
                        }
                    }

                    .slider__arrows { margin-left: 0 }
                }
                
            }
        }
    }

    @media (max-width: 500px) {
        .works__content {
            .title---circles { margin-bottom: 20px }
            .works__slider {
                .slider {
                    .slider__inner {
                        .slider__box {
                            min-width: 175px;
                            min-height: 250px;

                            .box__content {
                                .slider__title { 
                                    margin-bottom: 10px;
                                    font-size: 12px;
                                }

                                .slider__image {
                                    img { width: 100px }
                                }
                            }          
                            
                            .slider__infos {
                                height: 60px;
        
                                .infos__content {
                                    .info__item {
                                        margin-left: 15px;
                                        img { width: 20px }
                                    }
                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}