.link {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
}


.linkNumber {
  font-size: 32px;
  line-height: 64px;
  width: 45px;
}

.linkText {
  font-size: 92px;
  line-height: 103px;
  /* line-height: .9; */
}

.linkText,
.linkNumber {
  text-transform: lowercase;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}


@media (max-width: 1024px) {
    .linkText {
        font-size: 72px;
        line-height: 80px;
    }
    .linkNumber {
        font-size: 24px;
        line-height: 36px;
        width: 24px;
    }
    .textAbs {
      left: 48px !important;
  }
}

@media (max-width: 768px) {
    .linkText {
        font-size: 48px;
        line-height: 54px;
    }
    .linkNumber {
        font-size: 24px;
        line-height: 36px;
        width: 18px;
    }
    .textAbs {
        left: 42px !important;
    }
}
