.link {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
}


.linkNumber {
  font-size: 32px;
  line-height: 64px;
  width: 45px;
}

.linkText {
  font-size: 92px;
  line-height: 103px;
  /* line-height: .9; */
}

.linkText,
.linkNumber {
  text-transform: lowercase;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}